@tailwind base;
@layer base {
  h1 {
    @apply font-poppins;
    font-size: 64px;
    font-weight: 600;
    line-height: 120%;
    max-width: 488px;
    @media (max-width: 768px) {
      font-size: 44px;
    }
  }
  h2 {
    @apply font-poppins;
    font-size: 40px;
    @media (max-width: 768px) {
      font-size: 32px;
    }
  }
  h3 {
    @apply font-poppins;
    font-size: 24px;
  }

  body {
    @apply font-inter;
  }
}

@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-animation {
  display: flex;
  gap: 2rem;
  animation: scroll 8s linear infinite;
  will-change: transform;
}

.scroll-wrapper {
  overflow: hidden;
  white-space: nowrap;
}

.scroll-content {
  display: flex;
}
